<h3>Reviews</h3>
<% if !restaurant.reviews.any? %>
    <p>No reviews.</p>
  <% else %>
    <ul>
      <% restaurant.reviews.each do |review| %>
        <li><%= review.content %>, <strong><%= review.rating %></strong>/5<em> – posted about <%= time_ago_in_words(review.created_at) %> ago</em>. 
        <%= link_to "Endorse ", review_endorsements_path(review) %>
        </li>
  <% end %>
    </ul>
<% end %>